.section {
    .final-sec-part {
        padding: 64px 45px 45px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 18px;
            line-height: 27px;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
        }
        .btn-footer {
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            line-height: 22px;
            font-size: 15px;
            font-weight: 700;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
            transition: all 0.5s ease-in-out;
        }
    }
    .final-sec {
        padding: 0 45px 45px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .part-1 {
            padding: 24px 24px 25px;
            border-radius: 15px;
            transition: all 0.5s ease-in-out;
            margin-right: 31px;
            display: flex;
            flex-direction: column;
            width: 469px;
            height: 400px;
            background-image: url(./img/background.image);
            h2 {
                line-height: 32px;
                font: 22px;
                font-weight: 600;
                font-family: "Poppins", sans-serif;
                color: white;
                margin-top: 215px;
                margin-bottom: 25px;
            }
            .part-2-item {
                display: flex;
                align-items: center;
                flex-direction: row;
                h3 {
                    margin: 15px 5px 16px 15px;
                    font-family: "Open Sans", sans-serif;
                    line-height: 16px;
                    font-size: 12px;
                    color: white;
                    opacity: 50%;
                }
            }
        }
        .part-2 {
            margin-right: 31px;
            .part-item-2 {
                border-radius: 12px;
                background-color: #f4f8ec;
                padding: 0px 8px 0px 8px;
                width: 80px;
                margin-top: 24px;
                margin-bottom: 10px;
                h3 {
                    color: #6a983c;
                    font-family: "Poppins", sans-serif;
                    line-height: 18px;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
            h2 {
                color: #151515;
                line-height: 27px;
                font-size: 18px;
                font-weight: 600;
                font-family: "Poppins", sans-serif;
                width: 276px;
            }
            .part-2text {
                display: flex;
                align-items: center;
                h3 {
                    font-family: "Open Sans", sans-serif;
                    line-height: 16px;
                    font-size: 12px;
                    color: black;
                    opacity: 50%;
                    margin-right: 16px;
                    margin-top: 16px;
                }
            }
        }
        .part-3 {
            margin-top: 10px;
            .part-3-items {
                display: flex;
                margin-bottom: 32px;
                .part-3text {
                    margin-right: 60px;
                    .part-3author {
                        display: flex;
                        flex-direction: row;
                        h3 {
                            font-family: "Open Sans", sans-serif;
                            line-height: 16px;
                            font-size: 12px;
                            color: black;
                            opacity: 50%;
                            margin-top: 16px;
                            margin-right: 16px;
                        }
                    }
                }
                h2 {
                    font-family: "Poppins", sans-serif;
                    color: #151515;
                    line-height: 22px;
                    font-size: 15px;
                    font-weight: 500;
                    width: 225px;
                }
            }
        }
    }
}

.btn-footer:hover {
    transition: all 0.5s ease-in-out;
    color: #6a983c;
}

.part-1:hover {
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.2);
    transform: translateY(5px);
}

.part-3-item:hover {
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.2);
    transform: translateY(5px)
}

.part-3-item {
    transition: all 0.5s ease-in-out;
    width: 96px;
    height: 96px;
    border-radius: 12px;
}

footer {
    background-color: #ecebeb;
    margin-top: 120px;
    height: 80dvh;
    padding-top: 50px;
    .footer-part {
        display: flex;
        justify-content: space-between;
        padding-left: 45px;
        // margin-left: 10px;
        padding-right: 45px;
        width: 100%;
        .uls {
            h2 {
                font-family: "Poppins", sans-serif;
                line-height: 27px;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 16px;
            }
            ul {
                list-style: none;
                width: 100%;
                li {
                    width: 100%;
                    a {
                        display: flex;
                        text-decoration: none;
                        color: #6a983c;
                        line-height: 19px;
                        font-size: 14px;
                        font-family: "Open Sans", sans-serif;
                        margin-bottom: 15px;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
    .final-part {
        padding-left: 45px;
        padding-right: 45px;
        width: 100%;
        h3 {
            font-family: "Poppins", sans-serif;
            line-height: 27px;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 22px;
            margin-top: 38px;
        }
        .final-part-item {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            .final-items {
                width: 70px;
                height: 26px;
                display: flex;
                align-items: center;
                padding: 4px 10px 4px 10px;
                background-color: #f5f5f5;
                border-radius: 12px;
                cursor: pointer;
                h2 {
                    color: #151515;
                    line-height: 18px;
                    font-size: 12px;
                    font-weight: 650;
                    font-family: "Poppins", sans-serif;
                }
            }
        }
    }
    h4 {
        line-height: 19px;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        margin-top: 45px;
        margin-left: 45px;
        opacity: 50%;
    }
}

a:hover {
    transition: all 0.5s ease-in-out;
    opacity: 50%;
}
